/tese.aux
/tese.bbl
/tese.brf
/tese.blg
/tese.ilg
/tese.ind
/tese.lof
/tese.log
/tese.lot
/tese.out
/tese.idx
/tese.toc
/auto
/prv_tese.log
/cap-conclusao.tex~
/resumo.tex~
/apresentacao/auto/apresentacao.el
/apresentacao/apresentacao.aux
/apresentacao/apresentacao.log
/apresentacao/apresentacao.nav
/apresentacao/apresentacao.out
/apresentacao/apresentacao.snm
/apresentacao/apresentacao.toc
/apresentacao/apresentacao.bbl
/apresentacao/apresentacao.blg
/simulacoes/.Rhistory
